body {
  text-align: center;
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
}

h1 {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 4px white;
  font-size: 50px;
}

label {
  font-size: 35px;
}

input {
  border-radius: 50px;
  text-align: center;
  background-color: yellow;
  font-size: 20px;
  text-align: center;
}

button {
  color: green;
  text-shadow: 2px 2px 4px white;
  font-size: 35px;
  border-radius: 50px;
  background: linear-gradient(to right, yellow, orange, red);
}

p {
  font-size: 35px;
  color: red;
}
