body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 450px;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    margin: auto;
}

h1 {
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 50px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    border: 1px solid white;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 30px;
}

#result {
    margin-top: 20px;
    color: green;
    font-size: 25px;
    text-align: center;
}

body
{
    background: linear-gradient(to right, #79E0EE, #B1AFFF, #79E0EE);
}