body {
    background: linear-gradient(to right, #79E0EE, #B1AFFF, #79E0EE);
    text-align: center;
}

h1 {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

input {
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
}

button {
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
    background-color: tomato;
    color: white;
}

#passaggi {
    font-size: 20px;
    color: darkblue;
}

#risultato {
    font-size: 25px;
    color: red;
    background: linear-gradient(to right, #79E0EE, #B1AFFF, #79E0EE);
}

img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 150px;
}