body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size : 30px;
  }

  h1 {
    margin-top: 30px;
    color: red;
    font-size: 50px;
  }

  #password-output {
    margin-top: 20px;
    font-weight: bold;
  }

  input
  {
    text-align: center;
    border-radius: 50px;
    margin-bottom: 25px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  button{
    border-radius: 50px;
    background-color: yellow;
    font-size: 40px;
  }


  label
  {
    margin-bottom: 20px;
  }