h1
{
    color: red;
    font-weight: bold;
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 4px #000000;
}

body
{
    text-align: center;
    background: linear-gradient(to right, #79E0EE, #B1AFFF, #79E0EE);
}

table {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
}

td{
    font-size: 30px;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

td,
th {
    border: 1px solid blue;
}

a
{
    text-decoration: none;
    color: black;
}

p
{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.contorno
{
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(red, red);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 50%;
    transition: background-size 300ms ease-in-out;
}


.contorno:hover
{
    background-size: 100% 20%;
}