@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com") crossorigin;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

h1 {
  color: red;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  color: gold;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
  background: linear-gradient(1000deg, lightgreen, green, green, lightgreen);
  border-radius: 20px;
  padding: 4px;
  border: 5px solid blue;
  margin: 5px;
}

body {
  text-align: center;
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
}

a {
  text-decoration: none;
  color: darkblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.Immagineicona {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  background-image: linear-gradient(to right, yellow, red);
}

.Immagineicona,
.contenitore1,
.contenitore2,
.contenitore3,
.contenitore4 {
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 50%;
  transition: background-size 300ms ease-in-out;
}

.contenitore1,
.contenitore2,
.contenitore3,
.contenitore4 {
  text-decoration: none;
  background-image: linear-gradient(to right, blue, cyan);
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 20px;
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenitore1 {
  width: calc(100% - 10px);
}

.contenitore2 {
  width: calc(50% - 10px);
}

.contenitore3 {
  width: calc(33% - 10px);
}

.contenitore1:hover,
.contenitore2:hover,
.contenitore3:hover,
.Immagineicona:hover {
  background-size: 100% 15%;
}

.contenitore1:nth-child(4n),
.contenitore2:nth-child(4n),
.contenitore3:nth-child(4n),
.contenitore4:nth-child(4n) {
  background-color: yellow;
  border: 5px solid purple; 
}

.contenitore1:nth-child(4n + 1),
.contenitore2:nth-child(4n + 1),
.contenitore3:nth-child(4n + 1){
  background-color: cyan;
  border: 5px solid blue;
}

.contenitore1:nth-child(4n + 2),
.contenitore2:nth-child(4n + 2),
.contenitore3:nth-child(4n + 2){
  background-color: chartreuse;
  border: 5px solid coral;
}

.contenitore1:nth-child(4n + 3),
.contenitore2:nth-child(4n + 3),
.contenitore3:nth-child(4n + 3){
  background-color: orange;
  border: 5px solid darkblue
}

.immagginelogo,
.immaginerobot {
  border-radius: 10px;
  border: 2px solid blue;
  top: 100px;
}

.immagginelogo {
  width: 230px;
  height: 230px;
}

.immaginerobot {
  width: 150px;
  height: 150px;
}

.immagginelogo {
  float: left;
}

.immagine {
  display: block;
  margin: 0 auto;
  width: 700px;
  height: 600px;
  border: 5px solid blue;
}

.Icona {
  border: 1px solid blue;
  border-radius: 25px;
}

.menu {
  position: fixed;
  width: 20vw;
  min-width: 200px;
  height: 100%;
  list-style: none;
  right: -100%;
  transition: right 550ms;
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
  top: 0;
  z-index: 10;
  overflow-y: auto;
  border-radius: 20px;
}

.menu.showMwnu {
  right: 0;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
  border-radius: 50%;
  color: blue;
  text-shadow: 2px 2px 4px dark;
  font-size: 30px;
  border: none;
  cursor: pointer;
  background-color: #79e0ee;
}

.hamburger .MenuIcon,
.hamburger .CloseIcon {
  display: block;
  text-align: center;
}

.hamburger .CloseIcon {
  display: none;
}

.hamburger.closeIcon {
  background: none;
}

.hamburger.closeIcon .MenuIcon {
  display: none;
}

.hamburger.closeIcon .CloseIcon {
  display: block;
}

.menu li {
  padding: 20px;
}

.menu button {
  padding: 10px;
  background: none;
  border: 2px solid darkblue;
  color: darkblue;
  cursor: pointer;
  font-size: 25px;
  border-radius: 20px;
}

.menu h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.CloseIcon span,
.MenuIcon span {
  cursor: pointer;
}

.CloseIcon,
.MenuIcon,
.CloseIcon span,
.MenuIcon span {
  font-size: 50px;
}

button:hover {
  color: red;
}

footer {
  background: linear-gradient(to right, green, white, white, red);
  color: blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
  margin: 0px;
  border-radius: 50px;
  left: 10px;
  width: calc(100% - 20px);
  font-weight: bold;
  transform: translateX(-10px);
  
}

@media all and (max-width: 1024px) {
  h1 {
    font-size: 75px;
  }

  .menu h1 {
    font-size: 40px;
  }

  .contenitore1,
  .contenitore2,
  .contenitore3 {
    height: 145px;
  }

  footer {
    font-size: 40px;
    padding: 15px;
  }
}

@media all and (min-width: 1024px) {
  h1 {
    font-size: 100px;
  }
  .menu h1 {
    font-size: 40px;
  }

  .contenitore1,
  .contenitore2,
  .contenitore3{
    height: 100px;
  }

  footer {
    font-size: 35px;
  }
}
