body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
}
h1 {
  font-size: 40px;
  color: red;
}

button {
  border-radius: 50px;
  font-size: 40px;
  background-color: cyan;
}


#color {
  width: 200px;
  height: 200px;
  position: relative;
  border: 5px solid black;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

img{
  height: 200px;
  width: 200px; 
}