h1 {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 4px yellow;
  font-family: "Delicious Handrawn", cursive;
}

p {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 4px yellow;
  font-family: "Delicious Handrawn", cursive;
}

button {
  color: blue;
  text-align: center;
  background-color: yellow;
  border-radius: 50px;
  border: solid yellow 10px;
  margin-bottom: 20px;
}

button:hover {
  background-color: aqua;
  border: solid aqua 10px;
}

.bottone {
  background-color: black;
  border-radius: 50px;
  border: solid black 5px;
}

.bottone:hover {
  background-color: white;
  border: solid 5px white;
}

img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 30px;
  border-radius: 50px;
  position: relative;
}

.bottoneuniversitaTS,
.bottoneItsAltoAdriatico {
  background-color: white;
  border: solid 5px white;
  border-radius: 50px;
}

.bottoneuniversitaTS:hover {
  background-color: white;
  border: solid blue 5px;
}

.universitaTS {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 30px;
  border-radius: 5px;
  position: relative;
}

.bottoneItsAltoAdriatico:hover {
  background-color: white;
  border: solid red 5px;
}

.ItsAltoAdriatico {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 30px;
  border-radius: 5px;
  position: relative;
}

.titolo {
  font-weight: bold;
  font-size: 65px;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-family: "Delicious Handrawn", cursive;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  border: solid 5px blue;
  text-align: center;
  text-shadow: 2px 2px 4px orchid;
}

td:hover {
  background-color: aqua;
}

@media all and (max-width: 1024px) {
  h1 {
    font-size: 150px;
  }

  .calendar-table th,
  .calendar-table td {
    padding: 27px;
    font-size: 44px;
  }

  button {
    font-size: 80px;
  }

  p {
    font-size: 90px;
  }
}

@media all and (min-width: 1024px) {
  h1 {
    text-align: center;
    font-size: 60px;
  }

  .calendar-table th,
  .calendar-table td {
    padding: 10px;
    font-size: 30px;
  }

  button {
    font-size: 40px;
  }

  p {
    font-size: 50px;
    text-align: center;
  }
}

/**colore riga alternato pari**/
tr:nth-child(2n) {
  background-color: yellow;
  color: teal;
  font-weight: bold;
}

/**colore riga alternato dispari**/
tr:nth-child(2n + 3) {
  background-color: lightgreen;
  color: red;
  font-weight: bold;
}

/***colore prima linea tabella**/
tr:nth-child(-n + 1) {
  background-color: cyan;
}

body {
  background: linear-gradient(#79e0ee, #b1afff, #79e0ee);
}
