body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 100px;
    color: red;
}
#card {
    font-size: 70px;
    margin-top: 20px;
}

label
{
    font-size: 50px;
}

select
{
    font-size: 50px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 50px;
}

button
{
    border-radius: 50px;
    font-size: 70px;
    background-color: azure;
}