body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #79E0EE, #B1AFFF, #79E0EE);
}

#participants {
    margin-bottom: 10px;
}

h1 {
    color: red;
    font-size: 60px;
    font-weight: bold;
}

h2 {
    color: green;
    font-size: 50px;
}

input {
    border-radius: 50px;
    text-align: center;
}

button {
    border-radius: 50px;
    font-size: 20px;
}

label {
    font-size: 20px;
}

.aggiungi {
    color: blue;
    background-color: white;
}

.aggiungipunti {
    color: red;
    background-color: yellow;
}

.toglipunti {
    background-color: red;
    color: azure;
}

.end {
    color: white;
    font-size: 45px;
    background-color: black;
}

ul {
    font-size: 35px;
    list-style: none;
}

select {
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    color: aquamarine;
    background-color: black;
}
