body {
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
  text-align: center;
}

h1 {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

input {
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  width: 200px;
  height: 30px;
}

button {
  text-align: center;
  border-radius: 50px;
  font-size: 25px;
  background-color: tomato;
  color: white;
}

#passaggi {
  font-size: 20px;
  color: darkblue;
}

#risultato {
  font-size: 25px;
  color: red;
  background: linear-gradient(to right, #79e0ee, #b1afff, #79e0ee);
}

canvas {
  background-color: white;
}
img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 150px;
}
