body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #00ff9d, #21b17a);
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("https://www.focus.it/images/2023/04/05/una-ricostruzione-di-tre-grandi-sauropodi_1020x680.jpg");
  background-size: cover;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  color: blue;
  background-color: yellow;
  font-size: 40px;
}

h1 {
  font-size: 50px;
  color: red;
  font-family: bold;
  text-shadow: 2px 2px 4px white;
}

p {
  font-size: 35px;
}

#hint {
  color: darkblue;
}

select {
  border-radius: 50px;
  background-color: green;
  color: yellow;
  font-size: 30px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 150px;
}
