@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;wght@100&display=swap");

/* Sfondo generale e titolo */
body {
  background-image: url(Natale.gif);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: red;
  text-shadow: 2px 2px 4px white;
  font-size: 50px;
}

/* Contenitore delle cartelle */
.table-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Spaziatura tra le cartelle */
}

/* Stile delle cartelle */
.sub-table {
  border: 3px solid blue; /* Contorno blu */
  border-radius: 10px; /* Angoli arrotondati */
  background-color: red; /* Sfondo rosso */
  padding: 5px; /* Margine interno */
  border-radius: 50px;
}

.sub-table table {
  border-spacing: 10px; /* Spaziatura tra le celle */
}

.sub-table td {
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 250%;
  border: 2px solid white; /* Bordo bianco */
  color: red; /* Numeri in rosso */
  background-color: white; /* Sfondo bianco per i numeri */
  border-radius: 50%; /* Celle rotonde */
  text-shadow: 2px 2px 4px #000;
  cursor: pointer;
}

/* Effetti per i numeri selezionati */
td.blink {
  background-color: cyan;
  font-weight: bold;
}

td.on {
  background-color: yellow;
  font-weight: bold;
}

/* Stile per i bottoni */
input[type="button"] {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ff6666, #cc0000);
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 30px;
  border-radius: 50px;
}

input[type="button"]:hover {
  background: linear-gradient(to bottom, #cc0000, #ff6666);
  transform: scale(1.05);
  transition: 0.2s;
}

input[type="button"]:active {
  background: #990000;
  transform: scale(1);
}
