body {
  font-family: Arial, sans-serif;
  text-align: center;
}
h1 {
  color: red;
}
#card {
  margin-top: 20px;
}

label {
  font-size: 50px;
}

select {
  font-size: 50px;
  text-align: center;
  background-color: aquamarine;
  border-radius: 50px;
}

button {
  border-radius: 50px;
  background-color: azure;
}

img {
  border-radius: 20px;
  border: solid 5px darkblue;
}

@media all and (max-width: 1024px) {
  img {
    height: 400px;
    width: 400px;
  }

  h1 {
    font-size: 150px;
  }

  #card {
    font-size: 140px;
  }

  button {
    font-size: 70px;
  }
}

@media all and (min-width: 1024px) {
  img {
    height: 250px;
    width: 250px;
  }
  h1 {
    font-size: 70px;
  }

  #card {
    font-size: 50px;
  }

  button {
    font-size: 60px;
  }
}
