#letter-display {
  text-align: center;
  color: green;
  font-size: 150px;
  text-shadow: 7px 7px 7px green;
}

h1 {
  color: red;
  text-align: center;
}

button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  background-color: aqua;
  font-size: 90px;
  color: orange;
}

@media all and (max-width: 1024px) {
  h1{
    font-size: 70px;
  }
}

@media all and (min-width: 1024px) {
  h1{
    font-size: 100px;
  }
}