#number-display1,
#number-display2,
#number-display3,
#number-display4 {
  color: green;
  font-size: 150px;
  text-shadow: 7px 7px 7px green;
  text-align: center;
}

h1 {
  color: red;
  text-align: center;
}

button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  background-color: aqua;
  font-size: 90px;
  color: orange;
}

@media all and (max-width: 1024px) {
  h1{
    font-size: 70px;
  }
}

@media all and (min-width: 1024px) {
  h1{
    font-size: 100px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container2 {
  width: calc(50% - 20px); 
  margin: 5px; 
  box-sizing: border-box;
  border-radius: 50px;
}

p{
  text-align: center;
  color: blue;
  font-size: 50px;
}